@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300');
 *, *:active {
     outline: none;
     transition: all 0.3s ease;
     box-sizing: border-box;
}
 html, body {
}
 body {
    /* font-family: 'IBM Plex Sans', sans-serif;
     */
     font-family: 'M PLUS Rounded 1c', sans-serif;
     line-height: 1.75em;
     /* background: linear-gradient(-45deg, orange, pink, lightblue 85%);
     background-position: 0% 50%;
     background-size: 400% 400%;
     -webkit-animation: Gradient 5s ease infinite;
     -moz-animation: Gradient 5s ease infinite;
     animation: Gradient 5s ease infinite;
     */
}
 a, .clickable {
     cursor: pointer;
}
 h4 {
     margin-top: .75em;
     font-weight: 900;
     font-size: 1.25em;
}
 a {
     color: black;
     text-decoration: none;
}
 a:active {
     color: black;
}
 a:hover {
     color: #000066;
}
 a:visited {
     color: black;
}
 a.learn-more {
     color: #7070db;
}
 input[type=text], select, textarea {
     width: 100%;
     padding: 12px;
     border: none;
     border-bottom: 1px solid black;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color: #5353c6;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #3939ac;
}
 li {
     line-height: 1.5em;
     margin: 20px 0;
     list-style-type: none;
}
 img {
     height: 60px;
     border-radius: 5px;
}
 .container {
     padding: 20px;
}
 label {
     font-size: 1.15em;
}
 #message {
     height: 200px;
}
 #profile-picture {
     display: block;
     width: 100%;
     height: auto;
     margin-bottom: 50px;
     z-index: -1;
}
 #click-hint {
    text-align: center;
    color: #fff;
    transition: all 0.5s ease;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 0.2em 0.45em;
    display: block;
    width: 125px;
    font-size: 18px;
    position: absolute;
    left: calc(50% - 62.5px);
    bottom: 100px;
}
 #click-hint:hover {
     color: #B0E0E6;
     border-color: #B0E0E6;
}
 #repos {
	margin: 0 auto;
}
 #commits {
     width: 50%;
     margin: 0 auto;
}
 #menu-list {
     display: none;
     transition: none;
}
 #menu-list a {
    display: block;
    width: fit-content;
    margin: 20px 10px;
    color: #686868;
    border-bottom: 3px solid #B0E0E6;
}
 #menu-list a:hover {
	 background: #B0E0E6;
}
 #form {

}
 .body {
     margin: 10px 0;
     padding: 10px 0;
     border-top: 1px solid #000;
}
 .sidebar {
     float: left;
     min-height: 500px;
     padding: 30px;
}
 .main {
     width: 75%;
     float: right;
     min-height: 500px;
     box-sizing: border-box;
     padding: 30px;
}
 .inner__profile {
     overflow: auto;
     padding: 30px;
}
 .inner__profile > div {
     width: 25%;
     float: left;
}
 .hero-video {
     position:relative;
}
 .column {
     overflow: auto;
     opacity: 0;
}
 .main-menu {
     position: fixed;
     padding: 0.5em 1em 0.75em;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     background-color: rgba(255,255,255,0.7);
     box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
}
 .percentage-bar {
     background: linear-gradient(to right, #acb6e5, #afeeee);
}
 .error {
     color: red;
     margin: 0;
     font-size: 12px;
}
 .container p, .container h2 {
     text-align: center;
}
 .container h4 {
     width: 100%;
     text-align: center;
}
 .container input[type="text"] {
     width: 50%;
     margin: 0 auto;
     display: block;
     border: none;
     box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
     transition: all 0.3s ease 0s;
}
 .container input[type="text"]:hover {
     transform: translateY(-4px);
     box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
}
 .container button {
     display: block;
     font-size: 10px;
     text-align: center;
     width: 88px;
     margin: 25px auto;
     background: #fff;
     border-radius: 50px;
     border: none;
     padding: 12px;
     text-transform: uppercase;
     letter-spacing: 2px;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition: all 0.3s ease 0s;
     cursor: pointer;
}
 .container button:hover {
     color: #fff;
     background: #e6b0c5;
     box-shadow: 0px 15px 20px rgba(230, 176, 197, 0.4);
     transform: translateY(-5px);
}
 [class$="-arrow"] {
	 background: url(../images/next.png) no-repeat center;
     width: 50px;
     height: 50px;
}
 .next-arrow {
	 right: 0;
}
 .prev-arrow {
	 transform:rotate(180deg);
	 left: 0;
}
 .right a {
     text-decoration: none;
     color: #000;
}
 .right {
     display: inline-block;
     margin-left: 10px;
     position: absolute;
     margin-top: 10px;
}
 .repos {
    margin: auto;
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
 .repo {
    background-image: url('../images/mountain.jpg');
    background-position: 0% 0%;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    display: inline-block;
    float: left;
    filter: grayscale(100%);
}
 .repo:hover {
     filter: grayscale(0%);
     box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
     transform: translateY(-7px);
}
 .repo:after {
     content: "";
     display: block;
     padding-bottom: calc(100% - 30px);
}
 .repo-name {
    text-align: center;
    width: 100%;
    position: absolute;
    top: calc(50% - 14px);
}
/* keyframes */
 @-webkit-keyframes Gradient {
     0% {
         background-position: 10% 10% 
    }
     50% {
         background-position: 100% 50% 
    }
     100% {
         background-position: 0% 50% 
    }
}
 @-moz-keyframes Gradient {
     0% {
         background-position: 10% 10% 
    }
     50% {
         background-position: 100% 50% 
    }
     100% {
         background-position: 0% 50% 
    }
}
 @keyframes Gradient {
     0% {
         background-position: 10% 10% 
    }
     50% {
         background-position: 100% 50% 
    }
     100% {
         background-position: 0% 50% 
    }
}
 @-webkit-keyframes Slidedown {
     from {
         background-position: 0% 0%
    }
     to {
         background-position: 0% 100%
    }
}
 @-moz-keyframes Slidedown {
     from {
         background-position: 0% 0%
    }
     to {
         background-position: 0% 100%
    }
}
 @keyframes Slidedown {
     from {
         background-position: 0% 0%
    }
     to {
         background-position: 0% 100%
    }
}
 @-webkit-keyframes Tonedown {
     from {
         -webkit-filter: grayscale(100%)
    }
     to {
         -webkit-filter: grayscale(0%)
    }
}
 @-moz-keyframes Tonedown {
     from {
         filter: grayscale(100%)
    }
     to {
         filter: grayscale(0%)
    }
}
 @keyframes Tonedown {
     from {
         filter: grayscale(100%)
    }
     to {
         filter: grayscale(0%)
    }
}
/* breakpoints */
 @media only screen and (min-width: 1200px) {
     .icon {
         display: none;
    }
     #menu-list {
         display: block!important;
         width: fit-content;
         float: right;
    }
     #menu-list a {
		margin: 0 0.5em;
		display: inline-block;
    }
     .repos {
		 width: 1170px;
    }
}
 @media only screen and (max-width: 1200px) {
     .icon {
         float: right;
         padding-right: 30px;
    }
}
 @media only screen and (max-width: 1200px) and (min-width: 810px) {
}
 @media only screen and (max-width: 810px) {
     .inner__profile > div {
         width: 50%;
         display: inline-block;
    }
     .sidebar, .main {
         width: 100%;
         position: relative;
         margin: auto;
         min-height: 100px;
    }
     #click-hint {
         display: none;
    }
     .container {
         width: 100%;
    }
}
 @media only screen and (max-width: 676px) {
}
 @media only screen and (max-width: 570px) {
}
 @media only screen and (max-width: 500px) {
}
 