html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.75em;
}

.header-contact-list {
  width: 25%;
  float: left;
}

h4 {
  margin-top: .75em;
  font-weight: 900;
  font-size: 1.25em;
}

.sidebar {
  width: 25%;
  float: left;
  min-height: 500px;
}

.main {
  width: 75%;
  float: right;
  min-height: 500px;
  border-left: 1px solid lightgray;
  box-sizing: border-box;
  margin: 20px 0;
}

.inner-wrapper {
  padding: 30px;
}

.column-container {
  overflow: auto;
  opacity: 0;
}

.item {
  display: inline;
  padding: 30px 2vw;
}

a {
  color: black;
  text-decoration-line: none;
}

a:active {
  color: black;
}

a:hover {
  color: #000066;
}

a:visited {
  color: black;
}

a.learn-more {
  color: #7070db;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #5353c6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3939ac;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

label {
  font-size: 1.15em;
}

.contact-form-main {
  padding: 45px 100px 50px 30px;
}

#message {
  height: 200px;
}

#main-menu {
  width: 100%;
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: width 0.5s;
}

.sub-title {
  padding: 45px;
  float: right;
}

.profile-container, .skills-container, .projects-container, .careers-container, .education-container {
  padding: 30px;
}

#profile-picture {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  z-index: -1;
}

#main-menu-inner-wrapper {
  color: #000066;
  float: right;
}

#first-name-h2 {
  font-size: 3em;
  padding-top: 10vw;
}

.entry-header {
  position: relative;
  padding-bottom: 50px;
}

.entry-h4 {
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.entry-p {
  float: right;
  color: #5353c6;
  position: absolute;
  top: 0;
  right: 0;
}

.percentage-bar {
  background: linear-gradient(to right, #acb6e5, #afeeee);
}
#click-hint {
  margin: 0 45%;
  opacity: 1;
  font-size: 3em;
  font-weight: 900;
  width: 10%;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  color: #fff;
  transition: opacity 0.5s;
  transform: translate3d(0px,0px,0px) rotate(90deg);
}

#click-hint:hover {
  animation-duration: 0.3s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move {
  from {
    bottom: 1rem;
  }

  to {
    bottom: 2rem;
  }
}

* {
	outline: none;
}
*:active {
	outline: none;
}

.container p a {
    transition: all 0.3s ease 0s;
}
.container p a:hover {
	text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transform: translateY(-7px);
}

/* ----- commits ----- */
.container {
	width: 50%;
	margin: 0 auto;
}
.container p,
.container h2 {
	text-align: center;
}
.container h4 {
    width: fit-content;
    margin: 0 auto;
	border-bottom: 1px solid #5353c6;
}
.container input[type="text"] {
  width: 50%;
  margin: 0 auto;
  display: block;
}
.container button {
    display: block;
    font-size: 10px;
    text-align: center;
    width: 88px;
    margin: 25px auto;
    background: #fff;
    border-radius: 50px;
    border: none;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.container button:hover {
	color: #fff;
    background: #5353c6;
	box-shadow: 0px 15px 20px rgba(83, 83, 198, 0.4);
	transform: translateY(-7px);
}
.right a {
  text-decoration: none;
  color: #000;
  /* border-bottom: 1px solid #f66; */
}
li {
  line-height: 1.5em;
  margin: 20px 0;
  list-style-type: none;
}
img {
	height: 60px;
	border-radius: 5px;
}
.right {
    width: fit-content;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
}

/* ----- breakpoints ----- */

@media only screen and (min-width: 1385px) {
  .icon {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1385px) {
  .item {
    display: none;
  }

  .icon {
    float: right;
    padding-right: 30px;
    display: inline-block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 1115px) and (min-width: 810px) {
  .header-contact-list {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 810px) {
  .profile-contact {
    display: block;
  }

  .header-contact-list {
    font-size: 0.75em;
    width: 50%;
    display: inline-block;
  }

  .main-menu {
    font-size: 0.75em;
  }

  .sidebar, .main {
    width: 100%;
    position: relative;
    margin: auto;
    min-height: 100px;
  }

  #first-name-h2 {
    padding-top: 0px;
  }

  .entry-p {
    display: none;
  }

  #click-hint {
    display: none;
  }
  .sub-title {
  	float: left;
  }
}

@media only screen and (max-width: 676px) {
  .main-menu {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 570px) {
  .main-menu {
    font-size: 0.4em;
  }
}

@media only screen and (max-width: 500px) {
}
