html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75em;
}

.header-contact-list {
  width: 25%;
  float: left;
}

h4 {
  margin-top: .75em;
  font-weight: 900;
  font-size: 1.25em;
}

.sidebar {
  width: 33.3%;
  float: left;
  min-height: 500px;
}

.main {
  width: 66.6%;
  float: right;
  min-height: 500px;
}

.inner-wrapper {
  padding: 30px;
}

.column-container {
  overflow: auto;
  opacity: 0;
}

.item {
  display: inline;
  padding: 30px 2vw;
}

a {
  color: black;
  text-decoration-line: none;
}

a:active {
  color: black;
}

a:hover {
  color: #000066;
}

a:visited {
  color: black;
}

a.learn-more {
  color: #7070db;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #5353c6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3939ac;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

label {
  font-size: 1.15em;
}

.contact-form-container {
  padding: 0px;
}

.contact-form-main {
  padding: 45px 100px 50px 30px;
}

#message {
  height: 200px;
}

.sub-title {
  padding: 30px;
  float: right;
}

.profile-container, .skills-container, .projects-container, .careers-container, .education-container {
  padding: 30px;
}

#profile-picture {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  z-index: -1;
}

.main-menu-inner-wrapper {
  float: right;
}

#first-name-h2 {
  font-size: 3em;
  padding-top: 10vw;
}

.entry-header {
  position: relative;
  padding-bottom: 50px;
}

.entry-h4 {
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.entry-p {
  float: right;
  color: #5353c6;
  position: absolute;
  top: 0;
  right: 0;
}

.percentage-bar {
  background: linear-gradient(to right, #acb6e5, #afeeee);
}
#click-hint {
	margin: 0 45%;
	width: 10%;
	position: absolute;
	bottom: 30px;
	text-align: center;
	color: #fff;
	transition: opacity 0.5s;
	transform: rotate(90deg);
}
#click-hint span {
	transition: opacity 0.5s;
	opacity:0;
	z-index:1000;
}
#click-hint:hover span {
  opacity: 1;
}

@media only screen and (min-width: 1385px) {
  .icon {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1385px) {
  .item {
    display: none;
  }

  .icon {
    float: right;
    padding-right: 30px;
    display: inline-block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 1115px) and (min-width: 810px) {
  .header-contact-list {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 810px) {
  .profile-contact {
    display: block;
  }

  .header-contact-list {
    font-size: 0.75em;
    width: 50%;
    display: inline-block;
  }

  .main-menu {
    font-size: 0.75em;
  }

  .sidebar, .main {
    width: 100%;
    position: relative;
    margin: auto;
    min-height: 200px;
  }

  #first-name-h2 {
    padding-top: 0px;
  }

  .entry-p {
    display: none;
  }

  #click-hint {
    display: none;
  }
}

@media only screen and (max-width: 676px) {
  .main-menu {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 570px) {
  .main-menu {
    font-size: 0.4em;
  }
}

@media only screen and (max-width: 500px) {
}
